html{
  font-size: 62.5%;
}

html,
body {
  background-color: #F2F3F4;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body{
  font-size: 1.6rem;
}

* {
  box-sizing: border-box;
}

@media  (max-width: 650px){
  html{
    font-size: 55.5%;
  }
  }
